apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.crt
    server: {{ kube_apiserver }}
  name: inu-k8s
users:
- user:
    token: {{ kubelet_token }}
  name: kubelet
contexts:
- context:
    cluster: inu-k8s
    user: kubelet
  name: kubelet-context
current-context: kubelet-context