[Unit]
Description=Kubernetes kube-proxy
After=network.target

[Service]
Restart=on-failure
RestartSec=5
ExecStart=/usr/local/bin/kube-proxy --kubeconfig=/etc/kubernetes/kube-proxy.kubeconfig \
  --bind-address={{ private_host_ipv4 }}

[Install]
WantedBy=multi-user.target