FLANNEL_ETCD_ENDPOINTS="{{ flannel_etcd_endpoints }}"
FLANNEL_ETCD_PREFIX="/{{ dns_domain }}/network"
FLANNEL_OPTIONS="{{ flannel_opts | default('') }}"
FLANNEL_IFACE="{{ flannel_iface | default('') }}"