[Unit]
Description=Kubernetes apiserver
After=etcd.service

[Service]
Restart=always
RestartSec=5
EnvironmentFile=/etc/kubernetes/apiserver.conf
ExecStart=/usr/local/bin/kube-apiserver \
  $KUBE_API_ADDRESS \
  $KUBE_ETCD_SERVERS \
  $KUBE_SERVICE_ADDRESSES \
  --admission-control=NamespaceLifecycle,NamespaceExists,LimitRanger,SecurityContextDeny,ServiceAccount,ResourceQuota \
  $KUBE_TLS \
  $KUBE_API_ARGS

[Install]
WantedBy=multi-user.target
