apiVersion: v1
kind: Config
current-context: {{ dns_domain }}
clusters:
- cluster:
    certificate-authority: {{ kube_cert_dir }}/ca.crt
    server: {{ kube_apiserver }}
  name: inu-k8s
contexts:
- context:
    cluster: inu-k8s
    user: controller-manager
  name: {{ dns_domain }}
users:
- name: controller-manager
  user:
    token: {{ controller_manager_token }}
