[Unit]
Description=Kubernetes kube-controller-manager
After=kube-apiserver.service

[Service]
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/kube-controller-manager  --kubeconfig=/etc/kubernetes/controller-manager.kubeconfig \
  --service-account-private-key-file={{ kube_cert_dir }}/server.key \
  --root-ca-file={{ kube_cert_dir }}/ca.crt

[Install]
WantedBy=multi-user.target
