apiVersion: v1
kind: Config
current-context: default-system
clusters:
- cluster:
    certificate-authority: {{ local_current_dir.stdout }}/ca.crt
    server: {{ kube_apiserver }}
  name: default-cluster
contexts:
- context:
    cluster: default-cluster
    user: default-admin
  name: default-system
users:
- name: default-admin
  user:
    certificate-authority: {{ local_current_dir.stdout }}/ca.crt
    client-key: {{ local_current_dir.stdout }}/kubecfg.key
    client-certificate: {{ local_current_dir.stdout }}/kubecfg.crt